body {
    font-family: Arial, sans-serif;
    background-color: #edecf2;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 100%;
    height: 20vh;
}

nav {
    background: #66545E;
    text-align: center;
    padding: 40px 0;
    width: 50%;
    margin: 0 auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: darkgoldenrod;
}

.banner {
    padding: 20px 0;
    position: relative;
    text-align: center;
}

img {
    border-radius: 5%;
    max-width: 50%;
    max-height: 30%;
    width: auto;
    height: auto;
}

.promo-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
}

.promo-text h1 {
    font-size: 36px;
    margin: 0;
}

.promo-text p {
    font-size: 24px;
}

.promo-text ul {
    list-style: none;
    padding: 0;
}

.promo-text ul li {
    font-size: 18px;
}

.promo-text button {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.promo-text button:hover {
    color: #66545E;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    flex: 1;
}



  

