body {
    font-family: Arial, sans-serif;
    background-color: #edecf2;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 100%;
    height: 20vh;
}

nav {
    background: #66545E;
    text-align: center;
    padding: 10px 0;
    width: 50%; 
    margin: 0 auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color:darkgoldenrod;
}